.container{
    width:100%;
    height:100vh;
    background-image:url(../images/background.png);
    color:white;
    background-position:center;
    background-size:cover;
}
.content {
    padding-top: 100px;
    padding-left: 50px;
}
.content h1{
    font-size:85px;
     margin-bottom:35px;
}
.top{
    font-size:17px;
}
.crypto {
    color: #f8cd30;
}
.bottom{
    font-size:17px;
    font-family:inherit;
}